.contacts {
  font-size: 10px;
  color: $black-color;
  background-color: rgba($color: $light-blue-color, $alpha: 0.03);
  padding: 281px 0px 60px;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include medium {
      flex-direction: column;
    }
  }

  &__content {
    width: 50%;

    @include medium {
      width: 100%;
    }

    &>*:not(:last-child) {
      margin-bottom: 20px;
    }

    @include medium {
      &>*:first-child {
        margin-bottom: 30px;
      }
    }
  }

  &__header {}

  &__block {

  }
  
  &__block:has(.contacts__final-text) {
    margin-top: 55px;

    @include medium {
      margin-top: 24px;
    }
  }

  &__number {
    font-size: 2.4em;
    font-weight: 500;
    line-height: 130%;
  }

  &__block-title {
    font-size: 2.4em;
    line-height: 130%;

    @include medium {
      font-size: 1.8em;
    }
  }

  &__block-text {
    font-size: 2.4em;
    font-weight: 600;
    color: $black-color;
  }

  &__final-text {
    font-size: 2.4em;

    & span {
      font-weight: 700;
    }
  }

  &__timetable {
    // font-size: 2.4em;
    // line-height: 130%;
  }

  &__timetable-title {
    font-size: 2.4em;

    @include medium {
      font-size: 1.8em;
    }
  }

  &__timetable-text {
    font-size: 2.4em;
    line-height: 130%;
  }

  &__filials {
    font-size: 2.4em;
    line-height: 130%;
  }

  &__filials-header {
    font-weight: 600;
  }

  &__filials-address {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__map-container {
    width: 50%;
    height: 580px;

    @include medium {
      width: 100%;
      height: 315px;
    }

    & iframe {
      width: 100%;
      height: 100%;
      border-radius: 15px
    }
  }
}