<section class="best-conditions">
  <div class="best-conditions__container container">
    <div class="best-conditions__inner">
      <div class="best-conditions__header">
        <h3 class="best-conditions__title section-title" data-aos="fade-in">мы предложим наилучшие условия среди конкурентов</h3>
      </div>
      <div class="best-conditions__blocks">
        <div class="best-conditions__block">
          <div class="best-conditions__block-content" data-aos="fade-up">
            <p class="best-conditions__block-title">Достоинства Ломбард Триумф:</p>
            <ul class="best-conditions__block-list">
              <li class="best-conditions__block-list-item">Дыдача денег всего за полчаса; </li>
              <li class="best-conditions__block-list-item">Оценка до 90% заводской стоимости транспорта;</li>
              <li class="best-conditions__block-list-item">Минимально-требуемая документация – ПТС, СТС, Паспорт
                Российской Федерации;</li>
              <li class="best-conditions__block-list-item">Выдача займа без поручителей и справках о доходах;</li>
              <li class="best-conditions__block-list-item">Каждодневная тарификация – оплата за дни фактического
                использования займа;</li>
              <li class="best-conditions__block-list-item">Дружеские взаимоотношения и персональный подход ко всем
                клиентам нашего сервиса.</li>
            </ul>
          </div>
          <div class="best-conditions__block-img">
            <img src="../img/s-best-conditions-profit.svg" alt="">
          </div>
        </div>
        <div class="best-conditions__block">
          <div class="best-conditions__block-content" data-aos="fade-up">
            <p class="best-conditions__block-title">Прозрачность и честность заключения договора:</p>
            <ul class="best-conditions__block-list">
              <li class="best-conditions__block-list-item">Выдача займа от 100.000 до 30.000.000 рублей; </li>
              <li class="best-conditions__block-list-item">Минимальная месячная ставка в 4%; </li>
              <li class="best-conditions__block-list-item">Без тайных платежей, добавочных комиссий и вторичных
                расходов.</li>
            </ul>
          </div>
          <div class="best-conditions__block-img">
            <img src="../img/s-best-conditions-fair.svg" alt="">
          </div>
        </div>
        <div class="best-conditions__block">
          <div class="best-conditions__block-content" data-aos="fade-up">
            <p class="best-conditions__block-title">Надежность и безопасность гарантии</p>
            <ul class="best-conditions__block-list">
              <li class="best-conditions__block-list-item">Содержание автомобиля на утепленных подземных парковках БЦ
                класса;</li>
              <li class="best-conditions__block-list-item">Каждая подземная парковка компании застрахована Личная
                компетентная служба безопасности и круглосуточное видеонаблюдение;</li>
              <li class="best-conditions__block-list-item">Заключение договоров в согласии с действующим
                законодательством Российской Федерации;</li>
              <li class="best-conditions__block-list-item">Компания включена в государственный реестр ломбардов;</li>
              <li class="best-conditions__block-list-item">Полная конфиденциальность.</li>
            </ul>
          </div>
          <div class="best-conditions__block-img">
            <img src="../img/s-best-conditions-reliably.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="best-conditions__bottom">
    <div class="best-conditions__bottom-container container">
      <div class="best-conditions__bottom-inner" data-aos="fade-in">
        <div class="best-conditions__bottom-header">
          <h3 class="best-conditions__bottom-title section-title">мы предлагаем отличные условия среди автомобильных
            ломбардов столицы</h3>
        </div>
        <div class="best-conditions__bottom-blocks">
          <div class="best-conditions__bottom-block">
            <div class="best-conditions__bottom-block-img">
              <img src="../img/s-best-conditions-docs.svg" alt="">
            </div>
            <p class="best-conditions__bottom-block-title">Требуемые документы от клиента:</p>
            <p class="best-conditions__bottom-block-text">ПТС; СТС; Паспорт гражданина Российской Федерации.</p>
          </div>
          <div class="best-conditions__bottom-block">
            <div class="best-conditions__bottom-block-img">
              <img src="../img/s-best-conditions-borrower.svg" alt="">
            </div>
            <p class="best-conditions__bottom-block-title">Необходимые условия для выдачи займа:</p>
            <p class="best-conditions__bottom-block-text">Вы являетесь законным владельцем транспортного средства или у
              Вас есть нотариальная доверенность на распорядительные права и совершеннолетие.
            </p>
            <p class="best-conditions__bottom-block-text">Вам уже исполнилось 18 лет</p>
          </div>
          <div class="best-conditions__bottom-block">
            <div class="best-conditions__bottom-block-img">
              <img src="../img/s-best-conditions-car.svg" alt="">
            </div>
            <p class="best-conditions__bottom-block-title">Осмотр транспортного средства должен выявить, что он:</p>
            <p class="best-conditions__bottom-block-text">Полностью исправен технически; без существенных юридических
              проблем (наложенные и кредитные ограничения рассматриваются); состоит на учете в любом регионе Российской
              Федерации.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>