<section class="contacts" id="contacts">
  @include('./for-new.html')
  <div class="contacts__container container" id="contacts" data-aos="fade-in" data-aos-easing="ease-out" data-aos-duration="2000">
    <div class="contacts__content">
      <h2 class="contacts__header section-title">Наши контакты</h2>
      <div class="contacts__block">
        <p class="contacts__block-title">Телефон:</p>
        <a class="contacts__block-text contacts__number number number_no-logo number_monochrome" href="tel:+74955454555">
          <span>+7</span>
          <span>(495)</span>
          <span>545 45 55</span>
        </a>
      </div>
      <div class="contacts__block">
        <p class="contacts__block-title">Электронная почта:</p>
        <a class="contacts__block-text" href="mailto:info@lombard-triumf.ru">info@lombard-triumf.ru</a>
      </div>
      <div class="contacts__timetable">
        <p class="contacts__timetable-title">График работы офисов в Москве:</p>
        <p class="contacts__timetable-text">пн-пт: <strong>10:00 – 20:00</strong></p>
        <p class="contacts__timetable-text"> сб: <strong>10:00 – 16:00</strong></p>
        <p class="contacts__timetable-text">вс: <strong>выходной</strong></p>
      </div>
      <!-- <div class="contacts__filials">
        <p class="contacts__filials-header">Наши филиалы:</p>
        <p class="contacts__filials-address">м. Римская, Бульвар Энтузиастов, д. 2, БЦ «Голден Гейт», 3 этаж</p>
        <p class="contacts__filials-address">м. Смоленская, ул. Новый Арбат, д. 36, стр. 3, ТЦ «СФЕРА», 1 этаж, офис 7</p>
      </div> -->
      <div class="contacts__block">
        <p class="contacts__block-title">Адрес:</p>
        <p class="contacts__block-text">г. Москва, ул. Антона Овсиенко, д.15, стр.4, оф.207</p>
      </div>
      <div class="contacts__block">
        <p class="contacts__final-text">Оставьте заявку по указанному номеру телефона, напишите в мессенджере и приезжайте в наш офис – 
          <span>с нетерпением ждем, Ваш Ломбард Триумф!</span>
        </p>
      </div>
    </div>
    <div class="contacts__map-container" id="yandex-map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab9a157172b61d5e24036df97989a4b02e51df9b3e7fe75962f567a4526a2e0e4&amp;width=630&amp;height=580&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </div>
</section>