<section class="contacts" id="contacts">
  @include('./for-new.html')
  <div class="contacts__container container" id="contacts" data-aos="fade-in" data-aos-easing="ease-out" data-aos-duration="2000">
    <div class="contacts__content">
      <h2 class="contacts__header section-title">Наши контакты</h2>
      <div class="contacts__block">
        <p class="contacts__block-title">Телефон:</p>
        <a class="contacts__block-text contacts__number number number_no-logo number_monochrome" href="tel:+74951111111">
          <span>+7</span>
          <span>(495)</span>
          <span>111 11 11</span>
        </a>
      </div>
      <div class="contacts__block">
        <p class="contacts__block-title">Электронная почта:</p>
        <a class="contacts__block-text" href="mailto:info@lombard.ru">info@lombard.ru</a>
      </div>
      <div class="contacts__timetable">
        <p class="contacts__timetable-title">График работы офисов в Москве:</p>
        <p class="contacts__timetable-text">пн-пт: <strong>10:00 – 20:00</strong></p>
        <p class="contacts__timetable-text"> сб: <strong>10:00 – 16:00</strong></p>
        <p class="contacts__timetable-text">вс: <strong>выходной</strong></p>
      </div>
      <div class="contacts__block">
        <p class="contacts__block-title">Адрес:</p>
        <p class="contacts__block-text">г. Москва, ул. Россолимо, д.17, стр.c1, оф.111</p>
      </div>
      <div class="contacts__block">
        <p class="contacts__final-text">Оставьте заявку по указанному номеру телефона, напишите в мессенджере и приезжайте в наш офис – 
          <span>с нетерпением ждем, Ваш Ломбард!</span>
        </p>
      </div>
    </div>
    <div class="contacts__map-container" id="yandex-map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A05e8218e7679221fff0aa5da26f9f0b7866bacf56e2970cff18262f145698365&amp;width=622&amp;height=580&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </div>
</section>