<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__about about">
          <a class="footer__logo" href="/">
            <img src="../img/logo-white.svg" alt="">
          </a>
          <div class="about__info">
            <p>Услуги предоставляются</p>
            <p>ООО «Ломбард»</p>
            <p>ИНН: 1 111 111 111</p>
            <p>КПП: 111 111 111</p>
            <p>ОГРН: 1 111 111 111 111</p>
          </div>
        </div>
        <nav class="footer__nav">
          <p class="footer__nav-item">
            <a href="#sectionHow" class="footer__nav-link">Как это работает</a>
          </p>
          <p class="footer__nav-item">
            <a href="#thirtyMinSection" class="footer__nav-link">Преимущества</a>
          </p>
          <p class="footer__nav-item">
            <a href="#rate" class="footer__nav-link">Тарифы</a>
          </p>
          <p class="footer__nav-item">
            <a href="#whyUs" class="footer__nav-link">Условия</a>
          </p>
          <p class="footer__nav-item">
            <a href="#contacts" class="footer__nav-link">Контакты</a>
          </p>
        </nav>
        <div class="footer__contacts">
          <a class="footer__number number number_no-logo number_monochrome" href="tel:+74951111111">
            <span>+7</span>
            <span>(495)</span>
            <span>111 11 11</span>
          </a>
          <p class="footer__address">г. Москва, ул. Россолимо, д.17, стр.c1, оф.111</p>
          <p class="footer__address">г. Москва, ул. Россолимо, д.17, стр.c1, оф.111</p>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__legals">Все права защищены</p>
        <a href="#" class="footer__legals legals legals__link">Политика конфиденциальности</a>
        <a href="#" class="footer__legals legals legals__link">Основные условия по займам</a>
      </div>
    </div>
  </div>
</footer>
