<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__about about">
          <a class="footer__logo" href="/">
            <img src="../img/logo-white.svg" alt="">
          </a>
          <div class="about__info">
            <p>Услуги предоставляются</p>
            <p>ООО «Ломбард Триумф»</p>
            <p>ИНН: 9 705 133 285</p>
            <p>КПП: 770 501 001</p>
            <p>ОГРН: 1 197 746 395 440</p>
          </div>
        </div>
        <nav class="footer__nav">
          <p class="footer__nav-item">
            <a href="#" class="footer__nav-link">Как это работает</a>
          </p>
          <p class="footer__nav-item">
            <a href="#" class="footer__nav-link">Преимущества</a>
          </p>
          <p class="footer__nav-item">
            <a href="#" class="footer__nav-link">Тарифы</a>
          </p>
          <p class="footer__nav-item">
            <a href="#" class="footer__nav-link">Условия</a>
          </p>
          <p class="footer__nav-item">
            <a href="#" class="footer__nav-link">Контакты</a>
          </p>
        </nav>
        <!-- <ul class="footer__docs">
          <li class="footer__docs-item">
            <a class="footer__docs-link" href="http://" target="_blank" rel="noopener noreferrer">Страховой полис СПАО «Ингосстрах»</a>
          </li>
          <li class="footer__docs-item">
            <a class="footer__docs-link" href="http://" target="_blank" rel="noopener noreferrer">Правила пользования услугами ломбарда</a>
          </li>
          <li class="footer__docs-item">
            <a class="footer__docs-link" href="http://" target="_blank" rel="noopener noreferrer">Сертификат участника НКО «Лиги Ломбардов»</a>
          </li>
          <li class="footer__docs-item">
            <a class="footer__docs-link" href="http://" target="_blank" rel="noopener noreferrer">Свидетельство о постановке на учет в налоговом органе</a>
          </li>
        </ul> -->
        <div class="footer__contacts">
          <a class="footer__number number number_no-logo number_monochrome" href="tel:+74955454555">
            <span>+7</span>
            <span>(495)</span>
            <span>545 45 55</span>
          </a>
          <p class="footer__address">м. Римская, Бульвар Энтузиастов, д. 2, БЦ «Голден Гейт», 3 этаж</p>
          <p class="footer__address">м. Смоленская, ул. Новый Арбат, д. 36, стр. 3, ТЦ «СФЕРА», 1 этаж, офис 7</p>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__legals">Все права защищены</p>
        <a href="#" class="footer__legals legals legals__link">Политика конфиденциальности</a>
        <a href="#" class="footer__legals legals legals__link">Основные условия по займам</a>
        <div class="footer__author author">
          <span class="author__text">Создание сайта - </span>
          <a class="author__link" href="https://2dit.ru/" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
