<div class="header-mobile" data-menu>
  <div class="header-mobile__container container">
    <div class="header-mobile__inner">
      <nav class="header-mobile__nav">
        <a href="#" class="header-mobile__nav-item">Как это работает</a>
        <a href="#" class="header-mobile__nav-item">Преимущества</a>
        <a href="#" class="header-mobile__nav-item">Условия</a>
        <a href="#" class="header-mobile__nav-item">Тарифы</a>
        <a href="#" class="header-mobile__nav-item">Контакты</a>
      </nav>
      <div class="header-mobile__aside">
        <a class="header-mobile__number header__number number" href="tel:+74951111111">
          <span>+7</span>
          <span>(495)</span>
          <span>111 11 11</span>
        </a>
        <button class="header-mobile__btn header__btn btn">
          Онлайн-заявка
        </button>
        <div class="header-mobile__account header__account account">
          <p class="account__text">Личный кабинет</p>
        </div>
      </div>
    </div>
  </div>
</div>