<section class="rate" id="rate">
  <div class="rate__container container">
    <div class="rate__inner">
      <div class="rate__content">
        <div class="rate__header">
          <h3 class="rate__title section-title">честные и лояльные тарифные условия</h3>
          <p class="rate__subtitle">Минимальная процентная ставки удивит каждого клиента нашего сервиса. Мы работаем без добавочных комиссий и скрытых платежей.</p>
        </div>
        <div class="rate__img" data-aos="fade-down">
          <img src="../img/s-rate-img.svg" alt="">
        </div>
      </div>
      <div class="rate__rates" data-aos="fade-up">
        <div class="choice-block rate__choice">
          <h4 class="choice-block__title">100 000 ₽ – 499 000 ₽</h4>
          <p class="choice-block__text">Процентная ставка в месяц — 5,7%</p>
          <p class="choice-block__text">Процентная ставка в день — 0,19%</p>
          <button class="choice-block__btn btn">Выбрать</button>
        </div>
        <div class="choice-block rate__choice">
          <h4 class="choice-block__title">500 000 ₽ – 999 000 ₽</h4>
          <p class="choice-block__text">Процентная ставка в месяц — 5,1%</p>
          <p class="choice-block__text">Процентная ставка в день — 0,17%</p>
          <button class="choice-block__btn btn">Выбрать</button>
        </div>
        <div class="choice-block rate__choice">
          <h4 class="choice-block__title">1 000 000 ₽ – 2 999 000 ₽</h4>
          <p class="choice-block__text">Процентная ставка в месяц — 4,8%</p>
          <p class="choice-block__text">Процентная ставка в день — 0,16%</p>
          <button class="choice-block__btn btn">Выбрать</button>
        </div>
        <div class="choice-block rate__choice">
          <h4 class="choice-block__title">3 000 000 ₽ – 4 999 000 ₽</h4>
          <p class="choice-block__text">Процентная ставка в месяц — 4,2%</p>
          <p class="choice-block__text">Процентная ставка в день — 0,14%</p>
          <button class="choice-block__btn btn">Выбрать</button>
        </div>
        <div class="choice-block rate__choice">
          <h4 class="choice-block__title">от 3 000 000 ₽</h4>
          <p class="choice-block__text">Процентная ставка в месяц — 3,9%</p>
          <p class="choice-block__text">Процентная ставка в день — 0,13%</p>
          <button class="choice-block__btn btn">Выбрать</button>
        </div>
        <div class="choice-block rate__choice">
          <h4 class="choice-block__title">Нужна сумма более 25 000 000 ₽?</h4>
          <p class="choice-block__text">Процентная ставка в месяц — 5,7% Процентная ставка в день — 0,19%</p>
          <button class="choice-block__btn btn">Выбрать</button>
        </div>
      </div>
    </div>
  </div>
</section>