<section class="simple-conditions">
  <div class="simple-conditions__container container">
    <div class="simple-conditions__inner">
      <div class="simple-conditions__header">
        <h2 class="simple-conditions__title section-title" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1500">
          деньги на прозрачных условиях –
          <span class="simple-conditions__title_blue">без тайных платежей</span>
          и
          <span class="simple-conditions__title_orange">добавочных комиссий</span>
        </h2>
        <p class="simple-conditions__text">
          Оставив заявку сейчас, Вы гарантировано получите сниженную ставку по спецпредложению для новых клиентов.
        </p>
        <div class="simple-conditions__form-error-container" id="form-error-container-3"></div>
      </div>
      <form id="form-3" class="simple-conditions__form form" data-aos="fade-up">
        <input type="text" name="" placeholder="Ваше имя" id="" class="form__input input-reset">
        <input type="tel" name="" placeholder="+7 (___) ___-__-__" id="" class="form__input input-reset">
        <button type="submit" class="form__submit btn">Отправить заявку</button>
        <a href="#" class="form__link form__link_telegram">
          <span>Связаться в Телеграм</span>
        </a>
        <a href="#" class="form__link form__link_whatsapp">
          <span>Связаться в WhatsApp</span>
        </a>
        <label class="form__info">
          <div class="form__info-checkbox-wrapper">
            <input class="form__info-checkbox" type="checkbox" name="" id="">
          </div>
          <div class="form__info-text">
            Я соглашаюсь с
            <a href="#" class="form__info-link">Политикой конфиденциальности</a>
            и
            <a href="#" class="form__info-link">обработки персональных данных</a>
          </div>
        </label>
      </form>
    </div>
  </div>
</section>