<section class="vehicles" id="vehicles">
  <div class="vehicles__top">
    <div class="vehicles__top-container container">
      <div class="vehicles__top-img">
        <img src="../img/s-simple-conditions-car.svg" alt="">
      </div>
    </div>
  </div>
  <div class="vehicles__container container">
    <div class="vehicles__header">
      <h3 class="vehicles__title" data-aos="fade-in" data-aos-delay="200" data-aos-duration="1500">
        мы готовы принять <span class="vehicles__title_orange">любое</span>
        транспортное средство
      </h3>
    </div>
    <ul class="vehicles__list" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">
      <li class="vehicles__item">
        <div class="vehicles__item-img">
          <img src="../img/s-vehicles-car.svg" alt="">
        </div>
        <p class="vehicles__item-desc">Легковые автомобили</p>
      </li>
      <li class="vehicles__item">
        <div class="vehicles__item-img">
          <img src="../img/s-vehicles-truck.svg" alt="">
        </div>
        <p class="vehicles__item-desc">Грузовые автомобили и спецтехнику</p>
      </li>
      <li class="vehicles__item">
        <div class="vehicles__item-img">
          <img src="../img/s-vehicles-sportcar.svg" alt="">
        </div>
        <p class="vehicles__item-desc">Спорткары, эксклюзивные авто</p>
      </li>
      <li class="vehicles__item">
        <div class="vehicles__item-img">
          <img src="../img/s-vehicles-motorbike.svg" alt="">
        </div>
        <p class="vehicles__item-desc">Мотоциклы</p>
      </li>
      <li class="vehicles__item">
        <div class="vehicles__item-img">
          <img src="../img/s-vehicles-ship.svg" alt="">
        </div>
        <p class="vehicles__item-desc">Гидроциклы, катера, яхты</p>
      </li>
    </ul>
  </div>
</section>