<section class="why-us" id="whyUs">
  <div class="why-us__container container">
    <div class="why-us__header" data-aos="fade-in">
      <h2 class="why-us__title section-title">почему выбирают именно нас?</h2>
      <p class="why-us__text">
        Ломбард занимает лидирующие позиции среди автомобильных ломбардов столицы. Наша команда каждый день
        совершенствуется и поднимает уровень качества сервиса, а также мы предлагаем привлекательные условия и сможем
        найти персональный подход к каждому клиенту. 
      </p>
    </div>
    <div class="why-us__blocks" data-aos="fade-up">
      <div class="why-block">
        <div class="why-block__img">
          <img src="../img/s-why-us-fast.svg" alt="">
        </div>
        <h3 class="why-block__title">С нами вы экономите время</h3>
        <p class="why-block__text">Всего за полчаса Вашего времени пройдет вся подготовка требуемой документации и
          полный осмотр транспортного средства. Одновременно с этим, Вы без лишней спешки сможете насладиться чашкой
          кофе.
        </p>
      </div>
      <div class="why-block">
        <div class="why-block__img">
          <img src="../img/s-why-us-profit.svg" alt="">
        </div>
        <h3 class="why-block__title">С нами вы экономите деньги</h3>
        <p class="why-block__text">Главное преимущество нашей компании – оценка транспортного средства выше конкурентов.
          Мы выдаем до 90% от заводской стоимости автомобиля под минимальный процент, что делает нас лояльней
          конкурентов.  Нашли ставку ниже нашей? Мы готовы это обсудить и предоставить наилучшие условия.
        </p>
      </div>
      <div class="why-block">
        <div class="why-block__img">
          <img src="../img/s-why-us-reliably.svg" alt="">
        </div>
        <h3 class="why-block__title">Ломбард – это безопасность</h3>
        <p class="why-block__text">Работа нашего ломбарда проводится в согласии с действующим законодательством
          Российской Федерации, а также наш ломбард официально внесен в реестр ломбардов. Мы содержим заложенные
          транспортные средства в полной безопасности на территории подземных парковок нашей компании. Каждый автомобиль
          застрахован по полной себестоимости в СК “Название”.
        </p>
      </div>
      <div class="why-block">
        <div class="why-block__img">
          <img src="../img/s-why-us-available.svg" alt="">
        </div>
        <h3 class="why-block__title">Ломбард – это доступность</h3>
        <p class="why-block__text">Нас не интересует история кредитования клиента, у нас нет необходимости в
          поручителях, и нам не требуется справка о доходах. Если есть авто – то деньги гарантировано Ваши.
        </p>
      </div>
    </div>
  </div>
</section>